
  .maximumNotice{
    font-size: 12px;
    margin-bottom: 7px;
  }
  .wishListBtn{
    position: absolute;
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    top: 7px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .wishListBtn:hover{
    box-shadow: 0px 0px 10px , rgba(0, 0 , 0 , 0.4);
  } 